.layout {
  display: flex;
  height: 100vh;
  background: #f3f4f6;
}

.sidebar {
  width: 240px;
  background: #1e1b4b;
  color: white;
  padding: 20px;
}

.title {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
  background: #4338ca;
  color: white;
}

.content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}
/* ---------------- BOTON CERRAR SESION ---------------- */
.logout-btn {
  width: 100%;
  margin-top: auto;
  padding: 10px;
  background: #d9534f;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #c9302c;
}