.layout {
  display: flex;
  height: 100vh;
  background: #f5f7fa;
}

/* ---------------- SIDEBAR ---------------- */
.sidebar {
  width: 240px;
  background: #1e3a8a;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav a {
  color: #e0e7ff;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 15px;
}

nav a:hover {
  background: #3b82f6;
  color: white;
}

nav a.active {
  background: #60a5fa;
  color: white;
}

/* Logout */
.logout {
  margin-top: auto;
  color: #fca5a5 !important;
}

/* ---------------- CONTENT ---------------- */
.content {
  flex: 1;
  padding: 25px;
  background: white;
  overflow-y: auto;
  border-left: 1px solid #e5e7eb;
}
/* ---------------- BOTON CERRAR SESION ---------------- */
.logout-btn {
  width: 100%;
  margin-top: auto;
  padding: 10px;
  background: #d9534f;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #c9302c;
}
