<div class="container mt-4">

  <h2 class="mb-4">Panel Administrativo</h2>

  <div class="row">

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3">
        <h5>Usuarios</h5>
        <h2>{{ data.totalUsuarios }}</h2>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3">
        <h5>Multas</h5>
        <h2>{{ data.totalMultas }}</h2>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3">
        <h5>Actividades</h5>
        <h2>{{ data.totalActividades }}</h2>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3">
        <h5>Redenciones</h5>
        <h2>{{ data.totalRedenciones }}</h2>
      </div>
    </div>

  </div>

</div>
