.sidebar {
  width: 250px;
  background: #ffffff;
  height: 100vh;
  border-right: 1px solid #dee2e6;
  padding: 20px;

  h3 {
    color: #0d6efd;
    margin-bottom: 20px;
  }

  ul li {
    list-style: none;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: #212529;
      font-weight: 500;

      &:hover {
        color: #0d6efd;
      }
    }
  }
}
