.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002f6c; // azul del mockup
}

.auth-card {
  width: 420px;
  background: white;
  border-radius: 8px;
  padding: 2rem;
}
